html
{
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body
{
	height: 100%;
	min-height: 100%;
	margin: 0;
	border: 1em solid white;
	box-sizing: border-box;
}

#divCode
{
	width: 50%;
	height: 100%;
	float: left;
}

#divViewer
{
	width: 50%;
	height: 100%;
	float: right;
	overflow-y: scroll;
}

#svgViewer
{
	width: 100%;
}

.CodeMirror
{
	border: 1px solid gray;
	height: 100%;
}

.codeEditorErrorText
{
	background: #ffa;
	color: red;
	padding: 2px 5px 3px;
}

.codeEditorErrorIcon
{
	color: white;
	background-color: red;
	font-weight: bold;
	border-radius: 50%;
	padding: 0 3px;
	margin-right: 7px;
}

.viewerBlockBackground
{
	stroke: black;
	stroke-width: 0px;
	fill: #eee;
}

.viewerBlockFrame
{
	stroke: black;
	stroke-width: 2px;
	fill: rgba(0, 0, 0, 0);
}

.viewerBeat
{
	stroke: white;
	stroke-width: 2px;
}

.viewerNote
{
	stroke: rgba(0, 0, 0, 0);
	stroke-width: 0px;
	fill: red;
}

.viewerMeterLine
{
	stroke: #04f;
	stroke-width: 2px;
}

.viewerMeterLabel
{
	fill: #04f;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: left;
	alignment-baseline: middle;
}

.viewerKeyLine
{
	stroke: #f04;
	stroke-width: 2px;
}

.viewerKeyLabel
{
	fill: #f04;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: left;
	alignment-baseline: middle;
}